body {
  font-family: 微軟正黑體;
  margin: 0;
}

.hbottom {
  height: 80px;
  background: #fff8b0;
}

.header {
  background: #f7f7f7;
  text-align: center;
  width: 100%;
  position: fixed;
  height: 80px;
  z-index:1000;
  
}

#clock {
  float: right;
  margin-right: 30px;
  font-family: helvetica light;
  letter-spacing: 4px;
  color:#00a4a7;
}
#logo{
  float: left;
  margin-left: 30px;
  font-weight:bold;
}
.nav{
  line-height: 80px;
}
a {
  text-decoration: none;
  color: black;
  float: right;
  margin-right: 80px;
}

.block {
  height: 550px;
/*   background: #fff8b0; */
  text-align: center;
  background-image: url("https://hd.unsplash.com/photo-1427694012323-fb5e8b0c165b");
  background-size: 100% 550px;
  background-repeat: no-repeat;
}

.block1 {
  display: inline-block;
}

#title {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 90%;
  height: 150px;
  line-height: 150px;
  font-size:45px;
  font-weight:bold;
  
}

#intro {
  width: 75%;
  height: 250px;
  background: #f7f7f7;
  opacity: 0.9;
  font-size:24px;
}
p{
  margin:30px;
  
}
.chart {
  height: 650px;
  background: #E0E3DA;
  text-align: center;
}

.chart-box {
  display: inline-block;
}

.chart-box.left {
  margin-top: 15px;
  text-align: center;
}

.myButton{
  height:30px;
  width:130px;
  margin-left:10px;
  margin-right:10px;
  font-size:20px;
  display:block;
}

.chart-box.right {
  border: 1px solid gray;
  width: 91%;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 200px;
}
.sta-chart{
  border: 1px solid gray;
  width: 30%;
  margin-bottom: 30px;
  text-align: center;
  height: 360px;
  line-height: 360px;
}
.map{
  border: 1px solid gray;
  width: 60%;
  margin-bottom: 30px;
  text-align: center;
  height: 360px;
  line-height: 360px;
}
.text {
  height: 500px;
  background: #fff8b0;
  text-align: center;
  line-height: 500px;
}

.footer {
  height: 80px;
  background: #566270;
  text-align: center;
  line-height: 80px;
}

#gotop {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 10px 15px;
  font-size: 20px;
  background: #777;
  color: white;
  cursor: pointer;
}

.myButton {
	-moz-box-shadow:inset 0px 39px 0px -24px #42b5c7;
	-webkit-box-shadow:inset 0px 39px 0px -24px #42b5c7;
	box-shadow:inset 0px 39px 0px -24px #42b5c7;
	background-color:#599bb3;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}